/* You can add global styles to this file, and also import other style files */
body{
    background-color: #100F0F;
    font-family: lucida console, courier new, courier, monospace;
}

:root{
    --background-color-0 : #EEEEEE;
    --background-color-1 : #313131;
    --background-color-2 : #888888 ;
    --background-color-3 : #2C3333 ;
    --background-color-4 : #636363;

    --color-0 : #E7F6F2;
    --color-1 : #1A1C20;

    --scroll-bg: #3E3D32;
    --scroll-c: #928869;
}

::-webkit-scrollbar{
    width: .5rem;
    height: .5rem;
}

::-webkit-scrollbar-track{
    background-color: var(--scroll-bg);
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-c);
    border-radius: 2rem;
}
